# ======================
# Java compiled files
# ======================
*.class

# ======================
# Build directories
# ======================
bin/
out/
target/

# ======================
# Eclipse IDE files
# ======================
.project
.classpath
.settings/

# ======================
# VS Code files
# ======================
.vscode/

# ======================
# macOS system files
# ======================
.DS_Store

# ======================
# Logs & temp files
# ======================
*.log
*.tmp
